:root {
  --fontstack-serif: "Lora", "Georgia", "Times New Roman", serif;
  --fontstack-sans: "Open Sans", "Helvetica", "Arial", sans-serif;

  --color-brand-bright1: #84664c;
  --color-brand-bright2: #b88e6a;

  --color-brand-dark1: #1a1816;
  --color-brand-dark2: #383531;
  --color-brand-dark3: #6b645e;
  --color-brand-dark4: #b8aca2;

  --color-brand-light1: #f2f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
dl,
dt,
dd,
form {
  margin-top: 0;
  margin-bottom: calc(24 / 16 * 1rem);
}

address {
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-brand-dark2);
  background-color: var(--color-brand-light1);
}

/* ---------------------------------
typography
--------------------------------- */
html {
  font: 400 100%/1.5 var(--fontstack-serif);
}

.c-h2 {
  margin-bottom: calc(18 / 16 * 1rem);
  font-weight: 600;
  font-size: 1rem;
  line-height: calc(18 / 16 * 1rem);
  font-family: var(--fontstack-sans);
  color: var(--color-brand-dark1);
}

/* ---------------------------------
Links
--------------------------------- */

a {
  color: var(--color-brand-bright1);
  text-underline-position: under;
  text-decoration-skip-ink: auto;
}

/* ---------------------------------
page
--------------------------------- */

.c-page {
  margin: 0 auto;
  max-width: 80rem;
  padding: 30px;
}

/* ---------------------------------
header
--------------------------------- */

.c-siteheader {
  padding-top: 30px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

@media all and (min-width: 500px) {
  .c-siteheader {
    padding-top: 60px;
    padding-bottom: 84px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.c-siteheader__title {
  margin-bottom: 1rem;

  font-weight: 600;
  font-size: 1rem;
  line-height: calc(24 / 16 * 1rem);
  font-family: var(--fontstack-sans);

  color: var(--color-brand-dark1);
}

@media all and (min-width: 750px) {
  .c-siteheader__title {
    margin-bottom: 0;
    margin-right: 3rem;
  }
}

.c-lggnav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c-lggnav__item:not(:last-child) {
  margin-right: 1rem;
}

.c-lggnav__link {
  font-weight: 400;
  font-size: 1rem;
  line-height: calc(18 / 16 * 1rem);
  font-family: var(--fontstack-sans);

  text-decoration: none;
  color: var(--color-brand-dark4);
}

.c-lggnav__link.is-active {
  color: var(--color-brand-dark2);
}

/* ---------------------------------
Splitted layout
--------------------------------- */

.l-splitted {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
}

@media all and (min-width: 750px) {
  .l-splitted {
    grid-template-columns: 1fr 2fr;
  }
}

@media all and (min-width: 1024px) {
  .l-splitted {
    grid-template-columns: 2fr 3fr;
  }
}

/* ---------------------------------
Footer
--------------------------------- */

.c-sitefooter {
  padding-top: 24px;
  font-weight: 400;
  font-size: calc(14 / 16 * 1rem);
  line-height: calc(18 / 14 * 1rem);
  font-family: var(--fontstack-sans);
}

.c-sitefooter > p {
  margin-bottom: 0;
}
